.dub
docs.json
__dummy.html
*.o
*.obj
*.zip
/terminix
__test__library__
.vscode
backup
terminix.gresource
data/pkg/arch/pkg
data/pkg/arch/src
data/pkg/desktop/com.gexperts.Terminix.desktop
*.pkg.tar.xz
*~
