.flatpak-builder/
.dub
docs.json
__dummy.html
*.o
*.obj
*.zip
/tilix
__test__library__
.vscode
backup
tilix.gresource
data/pkg/arch/pkg
data/pkg/arch/src
data/pkg/desktop/com.gexperts.Tilix.desktop
data/appdata/com.gexperts.Tilix.appdata.xml
data/man/man
*.pkg.tar.xz
*~
*.xdgapp
build/builddir
.xdg-app-builder
builddir/*


ABOUT-NLS
Makefile
Makefile.in
acaux/
aclocal.m4
autom4te.cache/
config.log
config.status
configure
data/icons/Makefile
data/icons/Makefile.in
data/resources/Makefile
data/resources/Makefile.in
m4/
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
po/*.gmo
po/remove-potcdate.sed
# Generated/Updated by install.sh and autogen.sh
po/LINGUAS
