[Desktop Entry]
Name=Terminix
Comment=A tiling terminal for Gnome
Exec=terminix
Terminal=false
Type=Application
StartupNotify=true
Categories=Utilities
Icon=utilities-terminal
DBusActivatable=true
