[Desktop Entry]
Version=1.0
Name[bg]=Tilix
Name[cs]=Tilix
Name[de]=Tilix
Name[en]=Tilix
Name[es]=Tilix
Name[fi]=Tilix
Name[fr]=Tilix
Name[he]=Tilix
Name[id]=Tilix
Name[it]=Tilix
Name[ja]=Tilix
Name[ko]=Tilix
Name[nb_NO]=Tilix
Name[nl]=Tilix
Name[pl]=Tilix
Name[pt_BR]=Tilix
Name[pt_PT]=Tilix
Name[ru]=Tilix
Name[sr]=Тајликс
Name[sv]=Tilix
Name[tr]=Tilix
Name[uk]=Tilix
Name[zh_CN]=Tilix
Name=Tilix
Comment[cs]=Dlaždicový terminál pro Gnome
Comment[de]=Ein Terminal für GNOME mit Kacheldarstellung
Comment[en]=A tiling terminal for Gnome
Comment[es]=Una terminal divisible para Gnome
Comment[fi]=Laatoittava pääte Gnomelle
Comment[fr]=Un terminal scindable pour Gnome
Comment[he]=מסוף בריצוף עבור GNOME
Comment[it]=Un terminale a riquadri per Gnome
Comment[ko]=그놈을 위한 타일링 터미널
Comment[nl]=Een terminal voor Gnome met tegelmogelijkheid
Comment[pl]=Emuluje działanie terminala w środowisku GNOME wykorzystując interfejs kafli
Comment[pt_BR]=Um terminal em mosaico para o GNOME
Comment[pt_PT]=Um terminal em mosaico para o GNOME
Comment[ru]=Тайлинговый терминал для Gnome
Comment[sr]=Плочасти терминал за Гном
Comment[sv]=En sida-vid-sida-terminal för GNOME
Comment[tr]=Gnome için döşeyen bir terminal
Comment[uk]=Мозаїчний термінал для Gnome
Comment[zh_CN]=GNOME 的平铺终端模拟器
Comment=A tiling terminal for Gnome
Keywords[cs]=shell;terminál;příkaz;příkazový řádek;cmd;
Keywords[de]=Shell;Prompt;Befehl;Befehlszeile;command;commandline;cmd;
Keywords[en]=shell;prompt;command;commandline;cmd;
Keywords[es]=shell;prompt;command;commandline;cmd;
Keywords[fi]=shell;prompt;command;commandline;cmd;komentorivi;pääte;
Keywords[fr]=shell;prompt;commande;ligne de commande;cmd;
Keywords[he]=מעטפת;של;פרומפט;מסוף;טרמינל;שורת פקודה;חלון שחור;פקודה;פקודות;
Keywords[id]=shell;prompt;perintah;baris perintah;cmd;
Keywords[it]=shell;prompt;comando;linea di comando;cmd;
Keywords[nl]=shell;prompt;opdracht;opdrachtprompt;cmd;
Keywords[pl]=powłoka;terminal;polecenie;wiersz poleceń;cmd;
Keywords[pt_BR]=shell;prompt;comando;linha de comando;cmd;
Keywords[ru]=shell;prompt;command;commandline;cmd;
Keywords[sr]=shell;prompt;command;commandline;cmd;terminal;školjka;skoljka;komanda;naredba;linija;šel;терминал;шкољка;команда;наредба;линија;шел;
Keywords[sv]=skal;prompt;kommando;kommandorad;cmd;
Keywords[tr]=shell;prompt;command;commandline;cmd;
Keywords[uk]=shell;prompt;command;commandline;cmd;
Keywords[zh_CN]=shell;prompt;command;commandline;cmd;命令行;提示符;
Keywords=shell;prompt;command;commandline;cmd;
Exec=tilix
Terminal=false
Type=Application
StartupNotify=true
Categories=System;TerminalEmulator;X-GNOME-Utilities;
Icon[cs]=com.gexperts.Tilix
Icon[de]=com.gexperts.Tilix
Icon[en]=com.gexperts.Tilix
Icon[es]=com.gexperts.Tilix
Icon[fi]=com.gexperts.Tilix
Icon[fr]=com.gexperts.Tilix
Icon[he]=com.gexperts.Tilix
Icon[id]=com.gexperts.Tilix
Icon[it]=com.gexperts.Tilix
Icon[nl]=com.gexperts.Tilix
Icon[pl]=com.gexperts.Tilix
Icon[pt_BR]=com.gexperts.Tilix
Icon[ru]=com.gexperts.Tilix
Icon[sr]=com.gexperts.Tilix
Icon[sv]=com.gexperts.Tilix
Icon[tr]=com.gexperts.Tilix
Icon[uk]=com.gexperts.Tilix
Icon[zh_CN]=com.gexperts.Tilix
Icon=com.gexperts.Tilix
DBusActivatable=true
Actions=new-window;new-session;

[Desktop Action new-window]
Name[bg]=Нов прозорец
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en]=New Window
Name[es]=Ventana nueva
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새 창
Name[nb_NO]=Nytt vindu
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt_BR]=Nova janela
Name[pt_PT]=Nova janela
Name[ru]=Новое окно
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Створити вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新建視窗
Name=New Window
Exec=tilix --action=app-new-window

[Desktop Action new-session]
Name[bg]=Нова сесия
Name[cs]=Nové sezení
Name[de]=Neue Sitzung
Name[el]=Νέα συνεδρία
Name[en]=New Session
Name[es]=Sesión nueva
Name[fi]=Uusi istunto
Name[fr]=Nouvelle session
Name[he]=הפעלה חדשה
Name[id]=Sesi Baru
Name[it]=Nuova sessione
Name[ja]=新しいセッション
Name[ko]=새 세션
Name[nb_NO]=Ny økt
Name[nl]=Nieuwe sessie
Name[pl]=Nowa sesja
Name[pt_BR]=Nova sessão
Name[pt_PT]=Nova sessão
Name[ru]=Новый сеанс
Name[sr]=Нова сесија
Name[sv]=Ny session
Name[tr]=Yeni Oturum
Name[uk]=Створити сеанс
Name[zh_CN]=新建会话
Name[zh_TW]=新建會話
Name=New Session
Exec=tilix --action=app-new-session
