.terminix-search-slider {
    /**background-color: @theme_base_color;**/
    padding: 6px;
    border-color: @borders;
    border-radius: 0 0 3px 3px;
    border-width: 0 0 1px 1px;
    border-style: solid;
}
