.terminix-search-slider {
    padding: 6px;
    border-color: @borders;
    border-radius: 0 0 3px 3px;
    border-width: 0 0 1px 1px;
    border-style: solid;
}

.terminix-notification-counter {
    background-color: @theme_fg_color;
    color: @theme_bg_color;
    border: 1px solid @borders;
    padding: 1px 4px 1px 4px;
    font-size: 0.8em;  
}

.terminix-notebook-page {
    background-color: @theme_bg_color;
}