.terminix-search-slider {
    padding: 2px;
    border-width: 1px 0 0 0;
}

.terminix-search-entry {
    padding-bottom: 6px;
    padding-top: 6px;
}

.terminix-notification-counter {
    background-color: @theme_fg_color;
    color: @theme_bg_color;
    border: 1px solid @borders;
    padding: 1px 4px 1px 4px;
    font-size: 0.8em;  
}

.terminix-notebook-page {
    background-color: @theme_bg_color;
}

/* Only used when CSD is disabled */
.terminix-toolbar {
    background-color: @theme_bg_color;
    border-bottom: 1px solid @borders;
}

.terminix-notification-count {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_selected_bg_color), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.5, to(rgba(255, 255, 255, 0.76923)), to(transparent));
    color: @theme_selec1ted_fg_color;
    font-size: smaller;
}

.terminix-session-index {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_fg_color), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.5, to(rgba(255, 255, 255, 0.76923)), to(transparent));
    color: @theme_bg_color;
    font-size: smaller;
}

.terminix-session-sidebar {
    background-color: @theme_bg_color;
}

.terminix-session-name {
    color: @theme_bg_color;
    background-color: @theme_fg_color;
    border-radius: 8px 8px 8px 8px / 50% 50% 50% 50%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: smaller;
}

/* Remove padding from buttons when in compact mode */
.compact > .button {
	padding: 1px;
}

/* Support small titlebars in 3.20 */
.compact > button {
	padding: 0px;
}