.terminix-search-entry {
    padding-bottom: 6px;
    padding-top: 6px;
}

.terminix-search-frame {
    border-top: 1px solid @unfocused_borders;
}

.terminix-notification-counter {
    background-color: @theme_fg_color;
    color: @theme_bg_color;
    border: 1px solid @borders;
    padding: 1px 4px 1px 4px;
    font-size: 0.8em;
}

.terminix-notebook-page {
    background-color: @theme_bg_color;
}

/* Used to give backgrounds to widgets that end up transparent
   due to transparent window */
.terminix-background {
    background-color: @theme_bg_color;
}

/* Only used when CSD is disabled */
.terminix-toolbar {
    background-color: @theme_bg_color;
    border-bottom: 1px solid @borders;
}

.terminix-notification-count {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_selected_bg_color), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.5, to(rgba(255, 255, 255, 0.76923)), to(transparent));
    color: @theme_selected_fg_color;
    font-size: smaller;
}

.terminix-notification-count > label {
    color: @theme_selected_fg_color;
}

.terminix-session-index {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_fg_color), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.5, to(rgba(255, 255, 255, 0.76923)), to(transparent));
    color: @theme_bg_color;
    font-size: smaller;
}

.terminix-session-index > label {
  color: @theme_bg_color;
}

.terminix-session-sidebar {
    background-color: @theme_bg_color;
}

.terminix-session-name {
    color: @theme_bg_color;
    background-color: @theme_fg_color;
    border-radius: 8px 8px 8px 8px / 50% 50% 50% 50%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: smaller;
}

/* Remove padding from buttons when in compact mode */
.compact > .button {
	padding: 0px;
}

/* Support small titlebars in 3.20 */
.compact > button {
	padding: 0px;
}

.terminix-sidebar-close-button {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.terminix-session-switcher {
    background-color: @theme_bg_color;
}

/* Visual Bell Animation, note each frame defined
   separately because GTK doesn't support grouping them
   together like normal CSS
 */
@keyframes shake {
    0%   {-gtk-icon-transform: translateX(0);}
    100% {-gtk-icon-transform: translateX(0);}
    10%  {-gtk-icon-transform: translateX(-1px);}
    30%  {-gtk-icon-transform: translateX(-1px);}
    50%  {-gtk-icon-transform: translateX(-1px);}
    70%  {-gtk-icon-transform: translateX(-1px);}
    90%  {-gtk-icon-transform: translateX(-1px);}
    20%  {-gtk-icon-transform: translateX(1px);}
    40%  {-gtk-icon-transform: translateX(1px);}
    60%  {-gtk-icon-transform: translateX(1px);}
    80%  {-gtk-icon-transform: translateX(1px);}
}

.terminix-bell {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("alarm-symbolic");
}
.terminix-bell:checked {
    opacity: 1;
    animation: shake 1s linear infinite;
}

/* New Button in new UI */
.session-new-button {
  padding-left: 2px;
  padding-right: 2px;
}

/* Remove rounded corners when disable-csd set to true */
.terminix-embedded-headerbar {
    border-radius: 0;
}

/* Quake window border */ 
.terminix-quake-frame {
    border: 1px solid alpha(black, 0.35);
}